@import "vars";

// All styles
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #c8c8c8;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #c8c8c8;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #c8c8c8;
}
:-moz-placeholder { /* Firefox 18- */
  color: #c8c8c8;
}
.clearfix::after{
	content: '';
	clear: both;
	display: table;
}

.content {
	position: relative;
	color: $font-color;
	padding-top: 114px;
	margin-top: 80px;
	max-width: 1920px;
}
.wrap {
	max-width: 768px;
	@extend %margin-a;	
}
.bg-holder {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 160px;
	background-image: url('../img/bg-content.jpg');
	background-position: 50% 0;
	background-size: cover;
	background-repeat: no-repeat;
	&__gradient {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 60%;		
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 100%);
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(255,255,255,1) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#ffffff',GradientType=0 );		
	}
}

// Header styles
.header {
	background-color: #fff;
	font-family: $font-stack;
	.fixed-head {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 10;
		background-color: #fff;
	}
}
.nav {
	&__list {
		text-align: center;
	}
	&__item {
		display: inline-block;
		margin-left: 37px;
		margin-right: 37px;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	&--active .nav__link {
		color: $font-color;
	}
	&__link {
		color: $accent-color;
		font-size: 14px;
		&:hover {
			color: $font-color;
		}
	}
}
.menu-btn {
	position: relative;
	display: none;
	width: 40px;
	height: 40px;
	margin-top: 10px;
	@extend %margin-a;
	
	cursor: pointer;
	&__line {
		display: block;
		position: absolute;
		top: 9px;
		left: 4px;
		width: 80%;
		height: 2px;
		background-color: $accent-color;
		margin-bottom: 5px;
		&:nth-of-type(2) {
			top: 18px;
		}
		&:last-child {
			top: 27px;
		}
	}
	&.on {
		.menu-btn__line {
			transform-origin: 0 0;
			transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
			&:first-child{
				transform: rotate(45deg);
			}
			&:last-child{
				transform: rotate(-45deg) translateY(2px) translateX(-4px);
			}
			&:nth-of-type(2){
				opacity: 0;
			}
		}
	}
}

.main-title {
	position: relative;
	z-index: 1;
	color: #000;
	font-size: 70px;
	font-family: $font-title;
	text-align: center;
	margin-bottom: 65px;
}
.caption {
	position: relative;
	font-size: 30px;
	text-align: center;
	padding-top: 70px;
	margin-bottom: 50px;
	&::before {
		position: absolute;
		content: '';
		display: block;
		width: 47px;
		height: 47px;
		left: 50%;
		top: 0;
		margin-left: -24px;
		background-image: url('../img/sprite.png');
		background-repeat: no-repeat;
	}
}
.form-holder {
	background-color: #fff;
	.form {
		width: 100%;
	}
}

// personal_info styles
.personal_info {
	margin-bottom: 73px;
	.caption::before {
		background-position: -107px -107px;
	}
}
.inputrow {
	max-width: 520px;
	margin-bottom: 25px;
	@extend %margin-a;
}
.form-style {
	width: 100%;
	height: 60px;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	padding: 10px;
	text-align: center;
	color: #c8c8c8;
	font-family: $font-regular;
	font-size: 24px;
	&.select {
		max-width: 320px;
	}
}

// Select style
.select2 {
	&-container {
		&--default {
			display: block;
			@extend %margin-a;
			// @extend .form-style;
			.select2-selection--single {
				@extend .form-style;
				.select2-selection__rendered {
					color: #c8c8c8;
					line-height: 38px;
				}
				.select2-selection__placeholder {
					color: #c8c8c8;
				}
				.select2-selection__arrow b {
					width: 14px;
					height: 9px;
					border: 0 none;
					margin-left: -7px;
					margin-top: -4px;
					background: url('../img/sprite.png') -194px -86px no-repeat;
				}
				.select2-selection__arrow {
					top: 10px;
					right: 10px;
					width: 40px;
					height: 40px;
				}
			}
			&.select2-container--open .select2-selection--single .select2-selection__arrow b {
				background-position: -20px -194px;
			}
		}
	}
	&-results {
		padding-top: 20px;
		padding-bottom: 20px;
		&__option {
			font-family: $font-stack;
			font-size: 20px;
			color: $accent-color;
			padding-top: 10px;
			padding-bottom: 10px;
			text-align: center;
		}
	}
}
.select2-container--open {
	.select2-dropdown {
		border: 1px solid #e5e5e5;
		border-radius: 10px;
		@extend %box-shadow;
	}
}
.select2-container--default .select2-results>.select2-results__options {
	max-height: 300px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #e5e5e5;
}

// experience style
.experience {
	margin-bottom: 118px;
	.caption::before {
		background-position: -20px -107px;
	}
}
.skills {
	&__list {
		float: left;
		max-width: 210px;
		margin-right: 15%;
		&:last-of-type {
			margin-right: 0;
		}
	}
	&__item {
		display: block;
		margin-bottom: 15px;
	}
}

// Checkbox & Radiobutton style
.checkbox {
	vertical-align: top;
	width: 20px;
	height: 20px;
	margin: 0 10px 0 0;
	& + .checkbox__label {
		padding-left: 30px;
		margin-bottom: 2px;
		font-weight: normal;
	}
	&__label {
		&--content{
			cursor: pointer;
			font-weight: normal;
		}
	}
	&:not(checked) {
		position: absolute;
		opacity: 0;
		margin-top: 0;
		& + .checkbox__label {
			position: relative;
			display: inline-block;
			&::before {
				@extend %add-el;
				top: 0;
				left: 0;
				width: 20px;
				height: 20px;
				border-radius: 3px;
				border: 1px solid $accent-color;
				cursor: pointer;
				transition: $transition;
			}
		}
	}
	&:checked {
		& + .checkbox__label {
			&::before {
				background-color: $accent-color;				
			}
			&::after {
				@extend %add-el;
				top: 0;
				left: 0;
				width: 20px;
				height: 20px;
				background-image: url('../img/sprite.png');
				background-repeat: no-repeat;
				background-position: -191px -130px;
				cursor: pointer;
			}
		}
	}
}
.radio {
  vertical-align: top;
  width: 20px;
  height: 20px;
  margin: 0;
  &:not(checked) {
  	position: absolute;
	  opacity: 0;
	  top: 0;
	  margin: 0;
	  & + .radio__label {
	  	position: relative;
	  	&::before {
			  position: absolute;
	  		content: '';
			  top: 0;
			  left: 0;
			  width: 20px;
			  height: 20px;
			  @extend %circle;
			  border-color: $accent-color;
	  	}
	  }
  }
  & + .radio__label {
  	display: inline-block;
  	cursor: pointer;
 		padding: 0 0 0 30px;
  }
  &:checked {
  	& + .radio__label {
  		&::before {
  			background-color: $accent-color;
  		}
  		&::after {
			  position: absolute;
  			content: '';
			  top: 5px;
			  left: 5px;
			  width: 10px;
			  height: 10px;
			  border-radius: 50%;
			  background-color: #fff;
			  opacity: 1;
			  transition: $transition;
  		}
  	}
  }
}

// profy_level style
.profy_level {
	.caption {
		&::before {
			background-position: -107px -20px;
		}
	}
	margin-bottom: 100px;
}

.profy_level {	
	.radio-holder {
		display: none;
		.ranges__item {
			position: relative;
			margin-bottom: 20px;
		}
	}
}

// Slider style
.slider-range {
	position: relative;
	padding-top: 50px;
	.ui-slider {
		.ui-slider-handle {
			top: 0;
			margin: 0;
			width: 0;
			height: 14px;
			cursor: pointer;
			&::after {
				@extend %add-el;
				top: 115%;
				left: -11px;
				z-index: 2;
				width: 23px;
				height: 26px;
				background: url('../img/sprite.png') -194px -20px no-repeat;
			}
		}
	}
	.ui-corner-all {
		border-radius: 0;
	}
	.ui-widget-content .ui-state-default {
		background-image: none;
		border-radius: 0;
		border-color: #fff;
	}
	.ui-slider-horizontal {
		height: 14px;
	}
	.ui-widget.ui-widget-content {
		border: 0;
		background: rgb(204,177,241);
		background: -moz-linear-gradient(left, rgba(204,177,241,1) 0%, rgba(67,89,147,1) 100%);
		background: -webkit-linear-gradient(left, rgba(204,177,241,1) 0%,rgba(67,89,147,1) 100%);
		background: linear-gradient(to right, rgba(204,177,241,1) 0%,rgba(67,89,147,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccb1f1', endColorstr='#435993',GradientType=1 );
		&::before {
			position: absolute;
			left: 0;
			right: 0;
			background: #fff;
			content: '';
			display: block;
			height: 20px;
			-webkit-backface-visibility: hidden; // for Chrome Windows
			top: -9px;
	    transform: skewY(-.8deg);
			transform-origin: 0 100%;
		}
	}
	.ui-widget-header {
		background: none;
	}
}
.slider-holder {
	position: absolute;
	top: -9px;
	left: 0;
	z-index: 5;
	width: 100%;
	height: 40px;
	background-color: #fff;
	.ranges__level {
		position: absolute;
		width: 130px;
		bottom: 0;
		&--text {
			color: #2e211c;
			font-size: 13px;
		}
		&::after {
			@extend %add-el;
			left: 1px;
			width: 1px;
			height: 20px;
			background: #fff url('../img/punktir.png') 0 0 repeat-y;
		}
		&--first {
			left: 1px;
			&::after {
				top: 20px;
				height: 33px;
			}
		}
		&--second {
			left: 24%;
			max-width: 128px;
			&::after {
				top: 40px;
				height: 28px;
			}
		}
		&--third {
			left: 50%;
			width: 180px;
			&::after {
				top: 40px;
				height: 25px;
			}
		}
		&--forth {
			right: 0;
			width: 152px;
			&::after {
				top: 20px;
				left: initial;
				right: 1px;
			}
		}	
	}
}

// about style
.about {
	.caption {
		margin-bottom: 15px;
		&::before {
			background-position: -20px -20px;
		}
	}
	.text {
		display: block;
		max-width: 520px;
		line-height: 15;
		text-align: center;
		@extend %margin-a;
		margin-bottom: 38px;
	}
	.textarea {
		height: 180px;
		text-align: left;
		margin-bottom: 43px;
	}
}

.btn-style {
		color: #fff;
		background-color: $accent-color;
		border-radius: 8px;
		padding: 15px 33px;
		&:hover {
			background-color: lighten($accent-color, 10%);
		}
		&:active {
			background-color: darken($accent-color, 10%);			
		}
	}
.btn-holder {
	text-align: center;
	margin-bottom: 70px;
	.button {
		display: inline-block;
	}		
}

@media screen and (max-width: 768px) {
	.wrap {
		padding-left: 15px;
		padding-right: 15px;
	}
	.slider-range {
		display: none;
	}
	.profy_level{		
		.radio-holder {
			display: block;
		}
	}
}
@media screen and (max-width: 599px) {
	.menu-btn {
		display: block;
	}
	.nav {
		display: none;
		&__item {
			margin-left: 0;
			width: 100%;
			margin-right: 0;
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}
	.content {
		margin-top: 60px;
		padding-top: 60px;
	}
	.bg-holder {
		height: 95px;
	}
	.main-title {
		font-size: 50px;
		margin-bottom: 30px;
	}
	.caption {
		font-size: 25px;
		margin-bottom: 25px;
	}
	.form-style,
	.select2-container--default .select2-selection--single {
		height: 50px;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered {
		line-height: 28px;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow {
		top: 5px;
	}
	.skills__list {
		width: 50%;
		max-width: initial;
		margin-right: 0;
	}
}
@media screen and (max-width: 479px) {
	.skills__list {
		width: 100%;
	}
}